In [1]:
a=10
b=20
print(a)
print(b)

10
20

In [2]:
print(a,b)

10 20

In [3]:
num1=100
num2=200
add=num1+num2
print("the addition 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and", num2,"is",add)

the addition 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300

In [5]:
name="python"
age=10
city="hyd"
print("my name is python im 10 years old and came from hyd")
print("my name is", name,"im",age,"years old and came from",city)

my name is python im 10 years old and came from hyd
my name is python im 10 years old and came from hyd

# format method

In [11]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old and came from hyd{}".format(name,age,city))
# in format we should give in the particular order

my name is python im 10 years old and came from hydhyd

In [19]:
name="python"
age=10
city="hyd"
print("my name is python im 10 years old and came from hyd")
print("my name is", name,"im",age,"years old and came from",city)
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is python im 10 years old and came from hyd
my name is python im 10 years old and came from hyd
my name is python im 10 years old and came from hyd

In [14]:
num1=100
num2=200
add=num1+num2
print("the addition 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and", num2,"is",add)
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [15]:
num1=100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
print("the addition of {} and {} is {}".format(num1,num2,add))
print("the subtraction of {} and {} is {}".format(num1,num2,sub))
print("the multiplication of {} and {} is {}".format(num1,num2,mul))
print("the division of {} and {} is {}".format(num1,num2,div))

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

In [16]:
a=2
b=4
c=6
avg=(a+b+c)/3
print("average of {} {} {} is {}".format(a,b,c,avg))

average of 2 4 6 is 4.0

### f string method: formatted string method

In [17]:
# f string method
num1=100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
print(f"the addition of {num1} and {num2} is {add}")
print(f"the subtraction of {num1} and {num2} is {sub}")
print(f"the multiplication of {num1} and {num2} is {mul}")
print(f"the division of {num1} and {num2} is {div}")

the addition of 100 and 200 is 300
the subtraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

In [18]:
name="python"
age=10
city="hyd"
print(f"my name is {name} im {age} years old and came from {city}")

my name is python im 10 years old and came from hyd

In [21]:
a=2
b=4
c=6
avg=(a+b+c)/3
print(f"average of {a} {b} {c} is {avg}")

average of 2 4 6 is 4.0

**round method**

In [22]:
round(10.777)

11

In [23]:
round(10.444455)

10

In [25]:
round(10.777,2)   # ,2 is used to define the no of digits after the decimal point

10.78

In [27]:
print(round(10.23456,2))
print(round(10.23456,3))
print(round(10.23456,4))

10.23
10.235
10.2346

In [29]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(round(avg,2))

20.33

In [30]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(round(avg,4))

20.3333

In [31]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg1=round(avg,2)
print(avg1)

20.33

**end operator**

In [34]:
print(10, end="  ")  # the space provided in the end will leads to space between two print statements 
print(20)

10  20

In [41]:
print(10, end="==>")
print(20)

10==>20

In [35]:
print(10, end="  ")
print(20, end="  ")
print(30)

10  20  30

In [37]:
print("hello",end=" ")
print("how",end=" ")
print("are",end=" ")
print("you")

hello how are you

**sep operator**

In [39]:
print(10,20,30,sep=" ")

10 20 30

In [40]:
print(10,20,30,sep="===>")

10===>20===>30

#### exercise given by sir

In [67]:
# calculate the area of circle
radius=5
pi=3.14
area=pi*radius*radius
print(f"when the radius of the circle is {radius} then the area of the circle is {area}.")
print("when the radius of the circle is {} then the area of the circle is {}".format(radius,area))

when the radius of the circle is 5 then the area of the circle is 78.5.
when the radius of the circle is 5 then the area of the circle is 78.5

In [71]:
# calculate the area of the right angled triangle
breadth=4
height=6
area=0.5*breadth*height
print(f"when breadth={breadth} and height={height} then the area of right angle triangle is {area}")
print("when breadth={} and height={} then the area of right angle triangle is {}".format(breadth,height,area))

when breadth=4 and height=6 then the area of right angle triangle is 12.0
when breadth=4 and height=6 then the area of right angle triangle is 12.0

In [78]:
# calculate total bill
bill_amount=1000
tip_amount=100
total_bill=bill_amount+tip_amount
print(f"when bill amount is {bill_amount} and tip amount is {tip_amount} then the total bill is {total_bill}")
print("when bill amount is {} and tip amount is {} then the total bill is {}".format(bill_amount,tip_amount,total_bill))

when bill amount is 1000 and tip amount is 100 then the total bill is 1100
when bill amount is 1000 and tip amount is 100 then the total bill is 1100

In [80]:
# calculate the area of the rectangle
length=5
breadth=7
area=length*breadth
print(f"when the length is {length} and breadth is {breadth} then the area of rectangle is {area}")
print("when the length is {} and breadth is {} then the area of rectangle is {}".format(length,breadth,area))

when the length is 5 and breadth is 7 then the area of rectangle is 35
when the length is 5 and breadth is 7 then the area of rectangle is 35

**input**
- in above exercies we provided the value
- input is the inbuikt function
- using input the user can provide any value

In [83]:
input

**note**
- whenever if we see bound method or function which indicates the we forget the brackets

In [86]:
input()

 20

'20'

In [87]:
a=input()

 25

In [88]:
a

'25'

In [90]:
name=input()

 likhith

In [91]:
name

'likhith'

In [95]:
n1=input()
n2=input()
n3=input()

 10
 20
 30

In [96]:
n1,n2,n3

('10', '20', '30')

In [102]:
n1=input("enter the number 1:")

enter the number 1: 17

In [98]:
n2=input("enter the number2:")

enter the number2: 3

In [103]:
n1+n2 #in the input() function values are by default string type

'173'

In [108]:
str1=input("enter the data1:")
str2=input("enter the data2:")
str3=input("enter the data3:")
str1+str2+str3

enter the data1: apple
enter the data2: is
enter the data3: fruit

'appleisfruit'

In [109]:
str1=input("enter the data1:")
str2=input("enter the data2:")
str3=input("enter the data3:")
str1+str2+str3

enter the data1: apple
enter the data2:  is
enter the data3:  fruit

'apple is fruit'

In [111]:
n1=int(input("enter the number 1:"))  # here we used the int() function to convert the by default string which os provided by the input() function
n2=int(input("enter the number2:"))
n1+n2

enter the number 1: 17
enter the number2: 3

20

In [113]:
n1=input("enter the number 1:")
n2=input("enter the number2:")
int(n1)+int(n2)     # here we provided the int() function directly to the n1 and n2 after loading the data as string

enter the number 1: 17
enter the number2: 3

20

#### there is a drawback by using the int() nor float() functions the we use eval function

**eval**
- eval means evaluate
- it is related to math family
- which means it works only for number represents as strins
- it will not works on english letters
- eval will convert the respective data type which is user enters
- if user enter 10 in quotes it will convert into 10
- if user enter 10.5 in quotes it will convert into 10.5

In [115]:
n1=eval(input("enter the number 1:"))  # here we used the int() function to convert the by default string which os provided by the input() function
n2=eval(input("enter the number2:"))
n1+n2

enter the number 1: 10.5
enter the number2: 20

30.5