In [2]:
names=["ramesh","suresh","satish"]
age=[20,25,26]
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

ramesh age is 20
suresh age is 25
satish age is 26

In [4]:
names=["ramesh","suresh","satish"]
age=[20,25,26]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

ramesh 20
ramesh age is 20
suresh 25
suresh age is 25
satish 26
satish age is 26

**dictionary**

- in above example names and age both are together
- when both are together we can pair them
- this can happen using dictionary
- dictionary is called as **key-value** pair
- it representss with curly braces:**{key:value}**

In [5]:
d1={"ramesh":20,"suresh":30,"satish":45}
d1

{'ramesh': 20, 'suresh': 30, 'satish': 45}

- if both keys are same it will take the latest values
- dictionaries does not allow duplicates
- keys cannot be duplicate but values can be duplicate

- list as keys fails because list has a mutable behaiour
- tuple as key works because tuple has a immutable behaviour
- in dictionary keys are very very important
- keys does not change so when we apply list then it fails

In [6]:
dict1={"apple":20,"banana":30,"cherry":50}
dict2={"apple":20,"apple":30}
dict3={20:"apple",30:"banana",50:"cherry"}

In [7]:
print(dict1)

{'apple': 20, 'banana': 30, 'cherry': 50}

In [8]:
print(dict2)

{'apple': 30}

In [9]:
print(dict3)

{20: 'apple', 30: 'banana', 50: 'cherry'}

In [10]:
min(dict1)

'apple'

In [11]:
min(dict2)

'apple'

In [12]:
min(dict3)

20

In [13]:
max(dict1)

'cherry'

In [14]:
max(dict2)

'apple'

In [15]:
max(dict3)

50

In [16]:
sorted(dict1)

['apple', 'banana', 'cherry']

In [17]:
sorted(dict2)

['apple']

In [18]:
sorted(dict3)

[20, 30, 50]

In [20]:
ans=reversed(dict1)
list(ans)

['cherry', 'banana', 'apple']

In [21]:
ans=reversed(dict2)
list(ans)

['apple']

In [22]:
ans=reversed(dict3)
list(ans)

[50, 30, 20]

In [29]:
"apple" in dict1

True

In [30]:
20 in dict1

False

In [31]:
"apple":20 in dict1

SyntaxError: illegal target for annotation (1876122813.py, line 1)

In [32]:
for i in dict1:
    print(i)

apple
banana
cherry

**index**

In [34]:
dict1[0]

KeyError: 0

**how to extract the values**

- in dictionary we have a concept key:value pair
- keys are imp
- inorder to get the values we need to take keys help

In [36]:
dict1={"apple":20,"banana":30,"cherry":50}
dict1["apple"]

20

In [37]:
dict1["banana"]

30

In [39]:
for i in dict1:
    print(dict1[i])

20
30
50

In [42]:
names=["ramesh","suresh","satish"]
age=[20,25,26]
a=zip(names,age)
dict(a)

{'ramesh': 20, 'suresh': 25, 'satish': 26}

In [43]:
names={'ramesh': 20, 'suresh': 25, 'satish': 26}
for key in names:
    value=names[key]
    print(f"{key} age is {value}")

ramesh age is 20
suresh age is 25
satish age is 26

In [49]:
d={"fruits":["apple","banana","cherry"]}
d["fruits"][2]

'cherry'

In [50]:
d1={"fruits":{"apple":["sweet","sour","green"]}}
d1["fruits"]["apple"][2]

'green'

In [58]:
d={'Fruits':[{'Cost':[50]}]}
d["Fruits"][0]["Cost"][0]

50

In [81]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':"None"}]}
d["Cost"][0]["1kg"][2],d["Cost"][0]["2kg"]

(40, 'None')

In [80]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d["Cost"][0]["2kg"]

In [94]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d["Fruites"]["Orange"]["Nagpur"]["MH"]["King"]["Shivaji"]

{'Shambaji'}

**how to create a empty dictionary**

- now onwars focus on creation of empty list, strings and dictionary
- we will take wmpty list will use append operation
- we will take empty string will use concatenation
- we will take empty dictionary will use key:value pair concept

In [95]:
#list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [97]:
#strings
s=""
s=s+"p"
s=s+"y"
s

'py'

In [99]:
d={}
d["Ramesh"]=20
d["suresh"]=30
d

{'Ramesh': 20, 'suresh': 30}

In [107]:
d={}
names=["ramesh","suresh","satish"]
age=[20,25,26]
for i in names:
    for j in age:
        d[i]=j
d

{'ramesh': 26, 'suresh': 26, 'satish': 26}

In [108]:
d={}
names=["ramesh","suresh","satish"]
age=[20,25,26]
for i,j in zip(names,age):
    d[i]=j

d

{'ramesh': 20, 'suresh': 25, 'satish': 26}

In [110]:
names=["ramesh","suresh","satish"]
age=[20,25,26]
d=zip(names,age)
dict(d)

{'ramesh': 20, 'suresh': 25, 'satish': 26}

**dictionary comprehension**

- for list comprehension we written everythong inside the list
- for dictionary comprehension we should write everything inside the dictionary

In [111]:
# dict comprehension: {key:value <for loop>}

In [119]:
names=["ramesh","suresh","satish"]
age=[20,25,26]
d={i:j for i,j in zip(names,age)}
d

{'ramesh': 20, 'suresh': 25, 'satish': 26}

**mutable-immutable**

- lists are mutable
- dictionaries are also mutable
- strings are immutable
- tuples are immutable
- in dictionaries we can change the valus using keys

In [123]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d["ramesh"]=30
d

{'ramesh': 30, 'suresh': 25, 'satish': 26}

In [124]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [1]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d.clear()

In [2]:
d.copy()

{}

In [15]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d.fromkeys("ramesh")

{'r': None, 'a': None, 'm': None, 'e': None, 's': None, 'h': None}

In [8]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d.items()

dict_items([('ramesh', 20), ('suresh', 25), ('satish', 26)])

**keys**

In [ ]:
- dictiona

In [10]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
keys=d.keys()
keys

dict_keys(['ramesh', 'suresh', 'satish'])

**convert dictionary to list**
- inorder to convert dictionary to list
- first we need to seperate keys and values
- then apply list type casting

In [16]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
keys=d.keys()
keys_list=list(keys)
keys_list

['ramesh', 'suresh', 'satish']

In [18]:
keys_list.count("ramesh")

1

In [17]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
values=d.values()
value_list=list(values)
value_list

[20, 25, 26]

In [19]:
value_list.count(20)

1

- list to string    using join
- string to list    using split
- list to dict      using zip
- dict to list      using type casting

In [34]:
s1="virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com"
b=s1.split(";")
fname=[]
sname=[]
cname=[]
d={}
for i in b:
    #print(i)
    id1=i.find(".")
    id2=i.find("@")
    id3=i.find(".",id1+1)
    fname.append(i[0:id1])
    sname.append(i[id1+1:id2])
    cname.append(i[id2+1:id3])
fname,sname,cname
d["fname"]=fname
d["sname"]=sname
d["cname"]=cname
d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

In [35]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d.pop("ramesh")

20

In [37]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d.popitem()

('satish', 26)

In [38]:
d

{'ramesh': 20, 'suresh': 25}

In [40]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d.get("satish")

26

**update**
- update is a similar analogy **list extend**
- take two dictionaries and aply update method

In [43]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d1={"apple":20,"banana":30,"cherry":50}
d.update(d1)
d

{'ramesh': 20,
 'suresh': 25,
 'satish': 26,
 'apple': 20,
 'banana': 30,
 'cherry': 50}

**set default**

- suppose an already existed dictionary available
- we can update tge dictionary with new key:value pair
- set default in dictionary is similar analogy of list append

In [46]:
d={'ramesh': 20, 'suresh': 25, 'satish': 26}
d.setdefault("ramu",17)
d

{'ramesh': 20, 'suresh': 25, 'satish': 26, 'ramu': 17}

**fromkeys**

- create a dictionary with different keys but same value
- fromkeys will take an argument iterable
- try to provide an iterator i.e, string,list,tuple

In [47]:
d={}
names=["rames","suresh","sathish"]
d.fromkeys(names,"nareshit")

{'rames': 'nareshit', 'suresh': 'nareshit', 'sathish': 'nareshit'}